body {
  font-family: 'Raleway', sans-serif;
  background-color: #F5F5F5;
}

.color {
  background-color: #431E1E;
  color: #F5F5F5;
}

h1 {
  text-transform: uppercase;
  font-weight: bold;
}

h2 {
  font-size: 2em;
}

h3 {
  font-weight: bold;
}

img {
  height: 65vw;
  object-fit: cover;
}

button {
  width: 168px;
  height: 50px;
  margin-left: 10px;
  margin-right: 10px;
  color: white;
  background-color: black;
  cursor: pointer;

}

/* SEKTION 1 */

#section_1 {
  background-image: url(img/PLACEHOLDER.png);
  background-repeat: no-repeat;
  height: 600px;
  background-size: cover;
  background-position: center;
}

.logo {
  background-image: url(logo_hoegmoebler.svg);
  height: 38px;
  width: 200px;
}

.image_placeholder {
  height: 400px;
  width: 100%;
  background-color: grey;
}

.product {
  height: 100px;
  width: 100px;
}

#stol_1 {
  background-color: beige;
}

#stol_2 {
  background-color: gold;
}

#stol_3 {
  background-color: darkcyan;
}

#stol_4 {
  background-color: blueviolet;
}

/* On screens that are 992px or less, set the background color to blue */
@media screen and (min-width: 992px) {
  .rotate {
    position: absolute;
    transform-origin: 0 0;
    transform: rotate(90deg);
    top: 50%;
  }

  .text-wrap {
    width: 45rem;
    text-align: center;
  }
}



/* SEKTION 2 */
/* SEKTION 3 */
/* SEKTION 4 */
/* SEKTION 5 */
/* SEKTION 6 */
/* SEKTION 7 */
/* SEKTION 8 */
